.pie-chart {
  height: 400px;
}

.ajout_ligne {
  color: white;
  cursor: pointer;
  padding-bottom: 1rem;
}
thead {
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: blue;
  color: cyan;
}

.nav a {
  font-size: 1.2rem;
  font-weight: 600;
  color:#1B3C60;
}

.nav a:hover {
  border-bottom: 1px solid #1B3C60;
  padding-bottom: 10px;
}

.container-fluid.formAddSampling {
  background-color:#1B3C60;
  padding:2rem;
}
.title-asso {
  color:antiquewhite;
  font-size:3rem;
}
label{
  color:antiquewhite;
  font-size:1rem;
}
.p-asso {
  color:white;
  font-weight: 600;
  font-size:1.2rem;
  
}
.presentation-text {
  background-color:#1B3C60;
  padding: 10px;
} 
  #btn-mer-sardaigne {
    background-color: purple;
  }
.map-section {
  padding: 3rem;
}
.seas-buttons {
  gap: 2rem;
   font-weight:600;
}
.title-legend {
  font-size: 2rem;
  font-weight: 600;
  color:#1B3C60;
}
.map-legend {
  font-weight:600;
}
.btn-seas:hover {
  border: 3px solid black;
}
.btn-seas:link, .btn-seas:focus{
  border:4px solid cyan !important;;
}


.file-upload {
  display: block;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.file-upload .file-select {
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select .file-select-button {
  background: #dce4ec;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-upload .file-select .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}
.file-upload .file-select:hover {
  border-color: #34495e;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select:hover .file-select-button {
  background: #34495e;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select {
  border-color: #3fa46a;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload.active .file-select .file-select-button {
  background: #3fa46a;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.file-upload .file-select input[type="file"] {
  z-index: 100;
  cursor: pointer;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
}
.file-upload .file-select.file-select-disabled {
  opacity: 0.65;
}
.file-upload .file-select.file-select-disabled:hover {
  cursor: default;
  display: block;
  border: 2px solid #dce4ec;
  color: #34495e;
  cursor: pointer;
  height: 40px;
  line-height: 40px;
  margin-top: 5px;
  text-align: left;
  background: #ffffff;
  overflow: hidden;
  position: relative;
}
.file-upload .file-select.file-select-disabled:hover .file-select-button {
  background: #dce4ec;
  color: #666666;
  padding: 0 10px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
}
.file-upload .file-select.file-select-disabled:hover .file-select-name {
  line-height: 40px;
  display: inline-block;
  padding: 0 10px;
}
